<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>focus.</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = { theme: { extend: { colors: { clifford: '#da373d', }
      fontFamily: {geologica: ['"Geologica"', ...defaultTheme.fontFamily.sans]}
      } }
    </script>

  </head>
  {{#if logged}}
  <body class="bg-gray-50 relative pb-20">
    <nav
      class="flex items-center justify-center lg:justify-between flex-wrap bg-emerald-800 p-6 md:px-20"
    >
    <a href="/">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <img
          class="fill-current h-8 w-8 mr-2"
          width="54"
          height="54"
          viewBox="0 0 54 54"
          src="/images/focus.png"
        />
        <span class="font-semibold text-2xl tracking-tight">focus.</span>
      </div>
    </a>
      <div
        class="w-full block flex-grow flex flex-col items-center lg:flex-row lg:items-center lg:w-auto"
      >
        <div class="text-sm lg:flex-grow flex flex-row">
          <a
            href="/"
            class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4"
          >
            Tasks
          </a>
          <a
            href="/auth/logout"
            class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white"
          >
            Logout
          </a>
        </div>
        <div>
          <a
            href="/task/create"
            class="inline-block text-sm px-4 py-2 leading-none font-medium border rounded bg-white text-emerald-800 border-transparent hover:border-white hover:text-white hover:bg-transparent mt-4 lg:mt-0"
          >New Task</a>
        </div>
      </div>
    </nav>

   
    {{else}}
    <body class="bg-gray-50 relative pb-20">
    <nav
      class="flex items-center justify-center lg:justify-between flex-wrap bg-emerald-800 p-6 md:px-20"
    >
      <a href="/"><div class="flex items-center flex-shrink-0 text-white mr-6">
        <img
          class="fill-current h-8 w-8 mr-2"
          width="54"
          height="54"
          viewBox="0 0 54 54"
          src="/images/focus.png"
        />
        <span class="font-semibold text-2xl tracking-tight">focus.</span>
      </div>
      </a>

      <div
        class="w-full block flex-grow flex flex-col items-center lg:flex-row lg:items-center lg:w-auto"
      >
        <div class="text-sm lg:flex-grow flex flex-row">
          <a
            href="/"
            class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4"
          >
            Tasks
          </a>
          <a
            href="/auth/login"
            class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4"
          >
            Login
          </a>
          <a
            href="/auth/signup"
            class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4"
          >
            Register
          </a>
        </div>
        <div>
          <a
            href="/task/create"
            class="inline-block text-sm px-4 py-2 leading-none font-medium border rounded bg-white text-emerald-800 border-transparent hover:border-white hover:text-white hover:bg-transparent mt-4 lg:mt-0"
          >New Task</a>
        </div>
      </div>
    </nav>
    {{/if}}
    {{{body}}}

    <div
      class="font-light flex flex-col justify-center content-center text-center text-white bg-emerald-900 h-20 absolute bottom-0 w-full"
    ><p><a
          href="https://www.linkedin.com/in/pedro-figueiredo-6154b715b/"
          target="blank"
          class="underline"
        >Pedro</a>
        &
        <a
          href="https://www.linkedin.com/in/alexis-parsat-lacoste/"
          target="blank"
          class="underline"
        >Alexis</a><br />JS | MongoBD | Express | Node | Handlebar</p></div>

    <script src="/js/script.js"></script>
  </body>

</html>