body {
  padding: 0px 0px;
  min-height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.Low {
  border-color: rgb(196, 229, 196);
}

.Medium {
  border-color: rgb(243, 231, 194);
}

.High {
  border-color: rgb(255, 194, 194);
}
